# Xcode
build/
DerivedData/
*.xcuserdata/
xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# macOS
.DS_Store
*.swp
*~

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved
